{% extends "base/base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 login-form">
      {% if form.errors %}
        <p style="color: red;">{{ form.errors }}</p>
      {% endif %}
      <form method="post" >
        {% csrf_token %}
        <input type="hidden", name="next" value="{{ next }}"/>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      </div>
    </div>
  </div>
{% endblock content %}


