{% extends "base/base.html" %}

{% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-8 login-form">
    {% if form.errors %}
      <p style="color: red;">some thing went wrong</p>
    {% endif %}
    <form method="post" class="signup-form" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <br><small style="color: grey;">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  </div>
  </div>
 </div>
{% endblock content %}