{% extends 'base/base.html' %}

{% block content %}
  <div style="text-align: center;" class="container">
    <h1 style="color: red;">are you sure?</h1>
    <div style="text-align: center;" class="alert alert-danger" role="alert">
      {{ msg }}
    </div>

    <a style="margin: 2rem;" class="btn btn-danger"
       href="{% url delete delete_id %}">Yes, I'm Sure</a>
    <a style="margin: 2rem;" class="btn btn-secondary"
       href="{% url cancel cancel_id %}">No, Take me back
    </a>
  </div>
{% endblock %}