{% extends "base/base.html" %}

{% block content %}

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row">
      {% if projects %}
        {% for project in projects %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              {% for picture in project.picture_set.all|slice:":1" %}
                <img class="card-img-top" src="{{ picture.image.url }}" alt="image not available">
              {% endfor %}
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{project.target}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <h5 class="text-primary">{{project.title}}</h5>
                  <h6 class="text-primary">Owner: {{project.user.first_name}}</h6>
                  <p>Category: {{project.category}}</p>
                </div>
                <hr>
                <div class="row py-1 text-secondary">
                  <div class="col-6">
                    <div>Start</div>
                    <div>{{project.start_time}}</div> 
                  </div>
                  <div class="col-6">
                    <div>End</div>
                    <div>{{project.end_time}}</div>            
                  </div>
                </div>
                <hr>
                <a href="#" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h1>No Projects Available</h1>
      {% endif %}

      <!-- Listing 1 -->




    </div>
  </div>
</section>
{% endblock content %}