{% extends "base/base.html" %}

{% block content %}
    <div class="container">
            <h3 class="display-3 text-center" >{{ project.title }}</h3>
            <img src="{{ picture.image.url }}" class="rounded mx-auto d-block" width="300" height="300" /><br />
            <p class="font-weight-bold text-dark" > {{ project.details }}</p>
            
            <h5 class="font-weight-bold text-dark" > comments : </h5></br>
    <div class="jumbotron rounded bg-light">
            {% for comment in project.comment_set.all %}
           
            {% if comment_id == comment.id %}
            
               <form action="{% url 'projects:updateComment' comment.project.id comment.id %}" method="post">
                    {% csrf_token %}
                    <span class="font-weight-bold text-primary" > 
                            {{ comment.user.first_name }} {{ comment.user.last_name }} :
                           </span>
                <input type="text" class="form-control input-lg" value="{{ comment.body }}" name="body" />
                <input type="submit" class="btn btn-primary" value="Edit" name="submit" />
            </form>
           
            {% endif %}   
    
            {% endfor %}

    </div>
       
    </div>
{% endblock content %}